body
{
    background-color:rgb(255, 209, 224);
    text-align: center;
}
h1
{
    color:palevioletred;
  border-style: solid;
  border-width:2px;
  padding: 10px;
}
#nome
{
    text-decoration: underline;
    font-size:40px;
    color: rgb(187, 116, 166);
    background: white;
  }
  a
{
  color: rgb(146, 99, 132);
  font-size: 20px;
  border-style: dashed;
  border-color: rgb(153, 76, 99);
  border-width: 2px;
  padding: 10px;
  border-radius: 20px;
}
p
{
    color: rgb(255, 144, 172);
    word-spacing: 10px;  
    font-variant:normal;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .informacoes{
    color: rgb(134, 79, 93);
    font-size: 18px;
}
